* {
  font-family: basic-sans, sans-serif;
  font-style: normal;
  font-weight: 400;
}
select{
  color: #9FA1AF;
}

input[type="date"]{
    color: #9FA1AF;
}

.select-dropdown{
  -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.no-icon{
  -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}