* {
  font-family: basic-sans, sans-serif;
  font-style: normal;
  font-weight: 400;
}
select {
  color: #9fa1af;
}

input[type="date"] {
  color: #9fa1af;
}

.select-dropdown {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.no-icon {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

/* input[type=checkbox] {
  outline: 1px solid #008282;
   border-radius: 20px;
  border: 3px solid #008282;
} */
input:checked + div {
  @apply border-blue-500;
}
input:checked + div svg {
  @apply block;
}

.footer-link {
  min-height: 0px;
  visibility: hidden;
  position: absolute;
  padding: 0px;
}

.footer-link.expand {
  min-height: 75px;
  position: relative;
  visibility: visible;
  border-radius: 4px;
  padding: 10px;
  padding-left: 30px;
  transition: all 1s ease;
}
.header-main {
  box-shadow: 0px 3px 6px #00000029;
}
.test {
  margin-top: 50px;
  color:gray;
}
.react-datepicker-wrapper {
  width: 100%;
}
.truncate-content {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.truncate-content-carousel {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.my-img{
    animation: rotateImg 2s linear infinite;
  }
  @keyframes rotateImg{
    from {
     transform: rotate(0deg);
    }
   to {
    transform: rotate(359deg);
   }
  }

.number-field::-webkit-inner-spin-button,
.number-field::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}


.rec.rec-carousel-item.rec-carousel-item-1.rec-carousel-item-visible div:first-child div:first-child{
  width: 100% !important;
}