@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "BasicSans";
  src: url("./assets/fonts/BasicSans-Regular.otf");
}
@font-face {
  font-family: "BasicSansLight";
  src: url("./assets/fonts/BasicSans-Light.otf");
}
@font-face {
  font-family: "BasicSansBold";
  src: url("./assets/fonts/BasicSans-Bold.otf");
}
